# Environment variables for Database and MinIO configuration

POSTGRES_USER=example_user
POSTGRES_PASSWORD=ExamplePassword123
POSTGRES_DB=eventhub_db

PGADMIN_DEFAULT_EMAIL=example@gmail.com
PGADMIN_DEFAULT_PASSWORD=ExamplePassword123

MINIO_ROOT_USER=example_minio_user
MINIO_ROOT_PASSWORD=ExampleMinioPassword123
