# Environment variables for Database and MinIO configuration

POSTGRES_USER=example_user
POSTGRES_PASSWORD=ExamplePassword123
POSTGRES_DB=eventhub_db

MINIO_ROOT_USER=example_minio_user
MINIO_ROOT_PASSWORD=ExampleMinioPassword123
